.root {
  display: flex;
  justify-content: center;
  font-family: 'IM Fell English', serif;
  padding: 16px;
  // font-size: 14px;
  // padding: 8px 16px;
  // background-color: #FD507E;

  a {
    // color: white;
  }
}

.container {
  width: 590px;
  display: flex;
  justify-content: space-between;
}

.branding a {
  font-size: 24px;
  // text-decoration: none;
}
.nav a {
  margin-left: 6px;
  text-decoration: none;
}