.root {
  display: flex;
  justify-content: center;
  font-family: 'IM Fell English', serif;
  // font-size: 14px;
  // padding: 8px 16px;
  // background-color: #FD507E;

  a {
    // color: white;
  }
}

.branding a {
  text-decoration: none;
}
.nav a {
  margin-left: 6px;
  text-decoration: none;
}