.root {
  padding: 16px;
  // background-color: #49ffb9;
  // border-bottom: solid 1px #ddd;
}

.branding {
  img {
    max-height: 2.5rem;
    max-width: 2.5rem;
  }
  a {
    text-decoration: none;
  }
}
