@import url("https://fonts.googleapis.com/css?family=IM+Fell+English|IM+Fell+English+SC|Roboto&display=swap");

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:global {
  html {
    height: 100%;
  }
  body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    // font-family: "IM Fell English", serif;
    line-height: 1.5;
    color: #404040;
  }
  a {
    color: black;
  }
  button,
  input[type="submit"] {
    cursor: pointer;
  }
  #__next {
    height: 100%;
  }
  main {
    min-height: 100%;
    flex: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
  }
  main.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main.article {
    display: flex;
    justify-content: center;
  }
  main section {
    max-width: 590px;
    width: 100%;
    font-size: 20px;
    // position: relative;
  }
  main.center {
    display: flex;
    justify-content: center;
  }
}
