@import url("https://fonts.googleapis.com/css?family=IM+Fell+English|IM+Fell+English+SC|Roboto|Montserrat&display=swap");

.container {
  min-height: 100%;
  padding-top: 32px;
}

:global {
  html {
    height: 100%;
  }
  body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #404040;
  }
  a {
    color: #404040;
  }
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  button,
  input[type="submit"] {
    cursor: pointer;
  }
  #__next {
    height: 100%;
  }
  .spacer {
    height: 2em;
  }
}
