.root {
  // background: cadetblue;
  // display: flex;
  // justify-content: center;
  
}

.container {
  display: flex;
  font-family: 'IM Fell English SC', serif;
  text-transform: lowercase;
  font-size: 20px;
  text-align: right;
  a {
    color: #666;
    text-decoration: none;
  }
}

