.quote-container {
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 2em;
  margin-bottom: 2em;

  a {
    text-decoration: none;
  }
}

.quote {
  margin: auto;
  max-width: 590px;
  text-align: left;
  border: 1px solid #ddd;
}

.inside {
  padding: 20px;
  width: 100%;
  height: 100%;
}