.root {
}

.container {
  max-width: 580px;
}

.quote {
  margin: auto;
}

.text {
  display: inline;
  max-width: 580px;
  font-size: 2em;
  margin: 0;
  background-color: #2710f2;
  color: white;
  padding: 0.15em 1rem 0.2em 1rem;
  // line-height: 1.25em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.citation {
  margin-top: 2rem;
  padding-left: 1rem;
}