$line: #ccc;

.right-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 1px solid $line;
  border-left: 1px solid $line;
  // display: flex;

  .button {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    // border-right: 1px solid $line;
  }

  // .button:last-child {
  //   border-right: none;
  // }
}