.search {
  background-color: white;
  border-bottom: 1px solid #dcdcdc;
  min-height: 100px;
  display: flex;
  padding-left: 1rem;
  // align-items: center;

  form {
    flex: 1;
  }

  input[type=search] {
    width: 100%;
    min-height: 100%;
    border: none;
    padding: 0 1rem 0 0.8rem;
    outline: none;
    font-size: 1em;
  }
}