.root {
  text-align: center;
  width: 100%;

    .title {
    // margin-top: 2em;
    padding: 2em 2em;

    background-color: rgb(152, 217, 236);
  }
  .info {
    text-align: center;
    font-size: 0.7em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
