.about {
  font-size: 1.25rem;
  text-align: center;

  .top {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 500px;
    margin: auto;
  }

  h1 {
    font-size: 1.25rem;
    // margin-bottom: 0.9em;
  }
}
