.root {
}

.quotes-root {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}

.quote-container {
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;

  a {
    text-decoration: none;
  }
}

.quote {
  margin: auto;
  max-width: 590px;
  text-align: left;
  border: 1px solid #ddd;
  padding: 20px;
}

.quote-teaser {
  margin-bottom: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
