.search {
  font-size: 1.25rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;

  .top {
    padding-top: 0.5em;
    padding-bottom: 1em;
    max-width: 640px;
    margin: auto;
  }

  h1 {
    font-size: 1.25rem;
    // margin-bottom: 0.9em;
  }
}
